@{
    ViewData["Title"] = "Home Page";
}

<br />
<div class="row">
    <label for="app-dropdown">Select application:</label>
    <select id="app-dropdown" class="form-control">
        <option value="">Select one</option>
        <optgroup label="Shopify">
            <option value="ShopifyBasic">Shopify Basic</option>
            <option value="ShopifyToken">Shopify Token</option>
        </optgroup>
        <optgroup label="Magento">
            <option value="Magento">Magento</option>
        </optgroup>
        <optgroup label="WooCommerce">
            <option value="WooCommerce">WooCommerce</option>
        </optgroup>
        <optgroup label="Rest/Http">
            <option value="Http">Http No Auth</option>
            <option value="HttpBasic">Http Basic</option>
            <option value="HttpToken">Http Token</option>
        </optgroup>
    </select>
</div>
<br />
<div class="row">
    <label for="httpverb">Request Type</label>
    <select name="httpverb" id="httpverb" class="form-control">
        <option selected value="Get">GET</option>
        <option value="Post">POST</option>
    </select>
</div>
<br />
<div>
    <form id="my-form"></form>
</div>